<header class="px-4 sm:px-6 lg:px-8 mb-6">
  <div class="flex items-center justify-between border-b border-zinc-100 py-3 text-sm mx-auto container">
    <div class="flex items-center gap-4">
      <a href="/" class="logo text-xl">
        Point Quest
      </a>
    </div>
    <div class="flex items-center gap-4 font-semibold leading-6 text-zinc-900"></div>
  </div>
</header>
<main class="mx-auto container">
  <.flash_group flash={@flash} />
  <%= @inner_content %>
</main>
