@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.logo {
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}
